:root {
  --color-primary: #8E6447;
  --color-accent: #FF8906;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Reusable Class */
.container {
  width: 100%;
}

/* Specifict Component Styles */
section#forgot-password .section-body .container {
  position: relative;
}
section#forgot-password .section-body .container .side-image {
  width: 460px;
  height: 1024px;
  background: url("/assets/img/forgot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -880px;
  position: absolute;
}
section#forgot-password .section-body .container .form-container {
  position: absolute;
  top: 345.5px;
  left: 530px;
}
section#forgot-password .section-body .container .form-container .form-header img {
  margin-bottom: 51px;
  display: block;
}
section#forgot-password .section-body .container .form-container .form-header span {
  margin-bottom: 25px;
  display: block;
}
section#forgot-password .section-body .container .form-container .form-header span:nth-child(2) {
  color: var(--color-primary);
  font-size: 22px;
}
section#forgot-password .section-body .container .form-container .form-body {
  width: 700px;
}
section#forgot-password .section-body .container .form-container .form-body form label {
  font-weight: 600;
}
section#forgot-password .section-body .container .form-container .form-body form input {
  width: 100%;
  height: 31px;
  margin: 13px 0;
  padding: 26px 36px;
  border-radius: 6px;
}
section#forgot-password .section-body .container .form-container .form-body form button[type=submit] {
  background: var(--color-accent);
  width: 100%;
  margin: 13px 0;
  padding: 26px;
  border: 0;
  border-radius: 6px;
}
section#forgot-password .section-body .container .form-container .form-body form .input-wicon {
  position: relative;
}
section#forgot-password .section-body .container .form-container .form-body form .input-wicon img {
  position: absolute;
  top: 28px;
  left: 13px;
}

section#login .section-body .container {
  position: relative;
}
section#login .section-body .container .side-image {
  width: 460px;
  height: 1024px;
  background: url("/assets/img/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -106px;
  position: absolute;
}
section#login .section-body .container .form-container {
  position: absolute;
  top: 345.5px;
  left: 530px;
}
section#login .section-body .container .form-container .form-header img {
  margin-bottom: 51px;
  display: block;
}
section#login .section-body .container .form-container .form-header span {
  margin-bottom: 25px;
  display: block;
}
section#login .section-body .container .form-container .form-header span:nth-child(2) {
  color: var(--color-primary);
  font-size: 22px;
}
section#login .section-body .container .form-container .form-body {
  width: 700px;
}
section#login .section-body .container .form-container .form-body form label {
  font-weight: 600;
}
section#login .section-body .container .form-container .form-body form input {
  width: 100%;
  height: 31px;
  margin: 13px 0;
  padding: 26px 36px;
  border-radius: 6px;
}
section#login .section-body .container .form-container .form-body form button[type=submit] {
  background: var(--color-accent);
  width: 100%;
  margin: 13px 0;
  padding: 26px;
  border: 0;
  border-radius: 6px;
}
section#login .section-body .container .form-container .form-body form .input-wicon {
  position: relative;
}
section#login .section-body .container .form-container .form-body form .input-wicon img {
  position: absolute;
  top: 28px;
  left: 13px;
}
section#login .section-body .container .form-container .form-body form .input-wicon img.see-password {
  left: unset;
  right: 13px;
}