:root {
  --color-black: #0B0909;
  --color-white: white;
  --color-primary: #FF8906;
  --color-primary-active: #ffa010;
  --color-accent: #8E6447;
  --color-secondary: #AAAAAA;
  --color-secondary-shade: #E8E8E84D;
  --color-coupon: #88B788;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

button {
  cursor: pointer;
}

/* reusable class */
.container {
  width: 100%;
}

.text-accent {
  color: var(--color-accent);
}

.baris {
  width: 100%;
  display: flex;
}

.flash-sale-label {
  background: red;
  color: var(--color-white);
  padding: 4px 8px;
  border-radius: 24px;
  font-size: 11px;
}

.text-medium {
  font-size: 18px;
}

.text-besar {
  font-size: 22px;
}

.text-sangatbesar {
  font-size: 48px;
}

/* Per navbar an duniawi */
header nav {
  background: rgba(10, 9, 9, 0.1);
  padding: 16px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 26px;
  list-style: none;
}
header nav ul li a {
  color: var(--color-secondary);
  text-decoration: none;
}
header nav ul li a:hover {
  color: var(--color-white);
  border-bottom: 1px solid var(--color-primary);
}
header nav ul li a.active {
  color: var(--color-white);
  border-bottom: 1px solid var(--color-primary);
}
header nav ul li .brand a:hover {
  border: 0;
}
header nav .right-navigation button {
  background: transparent;
  border: 0;
}
header nav .right-navigation .member-sign-in {
  color: var(--color-white);
  width: 82px;
  height: 48px;
  padding: 1rem;
  border: 1px solid var(--color-white);
  border-radius: 5px;
}
header nav .right-navigation .member-sign-up {
  background: var(--color-primary);
  color: var(--color-black);
  width: 82px;
  height: 48px;
  padding: 1rem;
  border: 0;
  border-radius: 5px;
}

/* Dark navbar */
header nav.dark {
  background: var(--color-black);
}

/* Navbar With Position Relative */
header nav.rel {
  background: var(--color-black);
  position: relative;
}

/* Card */
.card {
  border-radius: 6px;
  overflow: hidden;
}
.card .card-header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0;
}
.card .card-header img {
  height: 100%;
}
.card .card-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.card.horizontal {
  display: flex;
}

.card.body-overlay {
  min-height: 280px;
  border-radius: 6px;
  position: relative;
  overflow: unset;
}
.card.body-overlay .card-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0;
}
.card.body-overlay .card-body {
  background: var(--color-white);
  width: 80%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
  box-shadow: 4px 4px 16px;
}

/* Per Produk an */
.price {
  color: var(--color-primary);
  font-size: 22px;
}

.slashed {
  color: red;
  font-size: 10px;
  text-decoration: line-through;
}

/* Per anchor an duniawi */
a {
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--color-black);
}

a.link-primary {
  color: var(--color-primary);
}

a.link-primary:hover {
  color: var(--color-primary-active);
}

/* Per button an duniawi */
.button {
  padding: 1rem;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

.button-primary {
  background: var(--color-primary);
}

.button-primary:hover {
  background: var(--color-primary-active);
}

.button-accent {
  background: var(--color-accent);
}

.button-border-white {
  background: transparent;
  border: 1px solid var(--color-white);
}

.button-border-black {
  background: transparent;
  border: 1px solid var(--color-black);
}

.button-icon {
  background: transparent;
}

.button-radio {
  background: transparent;
  border: 1px solid var(--color-black);
  position: relative;
  text-align: center;
}
.button-radio input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  cursor: pointer;
}

.button-radio:hover {
  border: 1px solid var(--color-primary);
}

.button-radio.active {
  border: 1px solid var(--color-primary);
}

.button-border-primary {
  background: transparent;
  border: 1px solid var(--color-primary);
}

.button-border-accent {
  background: transparent;
  border: 1px solid var(--color-accent);
}

/* Per section an duniawi */
section .section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
section .section-header h2 {
  font-size: 48px;
}
section .section-header hr {
  background: var(--color-primary);
  width: 68px;
  height: 7px;
  border: 0;
}
section .section-header p {
  font-weight: 400;
}

/* per form an */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-wicon {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.input-wicon input {
  background: transparent;
  width: 100%;
  border: 0;
  outline: 0;
}
.input-wicon img {
  max-width: 10px;
}

/* Alerte */
#alert {
  display: none;
}

#alert.show {
  min-height: 4rem;
  padding: 1rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#alert.alert-fatal {
  background: rgb(255, 220, 220);
  color: rgb(255, 100, 100);
}

/* Specifict Pages Styles */
/* Auth */
section#forgot-password .section-body .container {
  position: relative;
}
section#forgot-password .section-body .container .side-image {
  width: 460px;
  height: 1024px;
  background: url("../img/forgot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -880px;
  position: absolute;
}
section#forgot-password .section-body .container .form-container {
  position: absolute;
  top: 345.5px;
  left: 530px;
}
section#forgot-password .section-body .container .form-container .form-header img {
  margin-bottom: 51px;
  display: block;
}
section#forgot-password .section-body .container .form-container .form-header span {
  margin-bottom: 25px;
  display: block;
}
section#forgot-password .section-body .container .form-container .form-header span:nth-child(2) {
  color: var(--color-accent);
  font-size: 22px;
}
section#forgot-password .section-body .container .form-container .form-body {
  width: 700px;
}
section#forgot-password .section-body .container .form-container .form-body form label {
  font-weight: 600;
}
section#forgot-password .section-body .container .form-container .form-body form .input-wicon {
  padding: 0 1rem;
}
section#forgot-password .section-body .container .form-container .form-body form .input-wicon input {
  width: 100%;
  height: 31px;
  margin: 13px 0;
  padding: 0;
  border-radius: 6px;
}
section#forgot-password .section-body .container .form-container .form-body form button[type=submit] {
  background: var(--color-primary);
  width: 100%;
  margin: 13px 0;
  padding: 26px;
  border: 0;
  border-radius: 6px;
}

body#auth section .section-body .container {
  display: flex;
}
body#auth section .section-body .container .side-image {
  width: 460px;
  height: 1024px;
  background: url("../img/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -106px;
  flex: 1;
}
body#auth section .section-body .form-container {
  width: 100%;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 2;
}
body#auth section .section-body .form-container .form-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body#auth section .section-body .form-container .form-header img {
  width: 220px;
}
body#auth section .section-body .form-container .form-body {
  width: 100%;
}
body#auth section .section-body .form-container .form-body form label {
  font-weight: 600;
}
body#auth section .section-body .form-container .form-body form button[type=submit] {
  width: 100%;
}
body#auth section .section-body .form-container .form-body form button[type=submit]:hover {
  background: var(--color-primary-active);
  width: 100%;
}
body#auth section .section-body .form-container .form-body form button#show-password {
  background: transparent;
  border: 0;
}
body#auth section .section-body .form-container .form-body form .navigator-text {
  margin: 13px 0;
}
body#auth section .section-body .form-container .form-body form .navigator-text span {
  display: block;
  margin-bottom: 13px;
}
body#auth section .section-body .form-container .form-body form .navigator-text#forgot {
  text-align: right;
}
body#auth section .section-body .form-container .form-body form .navigator-text#register {
  text-align: center;
}
body#auth section .section-body .form-container .form-body form .navigator-text#register .social-auth-container button {
  max-width: 383px;
  width: 46%;
  height: 55px;
  margin-right: 13px;
  line-height: 55px;
  display: inline;
  position: relative;
  text-align: center;
}
body#auth section .section-body .form-container .form-body form .navigator-text#register .social-auth-container button img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  left: 70px;
}
body#auth section .section-body .form-container .form-body form .navigator-text#register .social-auth-container button:nth-child(1) {
  left: 1px;
}
body#auth section .section-body .form-container .form-body form .navigator-text#register .social-auth-container button:nth-child(2) {
  right: 1px;
}

body#auth section#register .section-body .container .side-image {
  background: url("../img/register.jpg");
}

/* Landing-Page Section */
body#home section#hero {
  margin-bottom: 0;
}
body#home section#hero .section-body .container {
  font-size: 0;
}
body#home section#hero .section-body .container .copytext-container {
  background: linear-gradient(168.18deg, #777C82 -114.74%, #0B0909 91.35%);
  color: #FFFFFF;
  height: 1024px;
  max-width: 730px;
  width: 50%;
  font-size: 16px;
  display: inline-block;
}
body#home section#hero .section-body .container .copytext-container .copytext {
  max-width: 518px;
  width: 100%;
  height: 457px;
  position: absolute;
  top: 283px;
  left: 90px;
}
body#home section#hero .section-body .container .copytext-container .copytext .copytext-headline {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 500;
  margin: 25px 0;
}
body#home section#hero .section-body .container .copytext-container .copytext .cta-button {
  background: var(--color-primary);
  color: #000000;
  width: 143px;
  height: 50px;
  margin: 25px 0;
  border-radius: 6px;
  display: block;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  cursor: pointer;
}
body#home section#hero .section-body .container .copytext-container .copytext .copytext-data div {
  color: #FFFFFF;
  width: 146px;
  margin: 0 8px;
  border-right: 1px solid #FFFFFF;
  display: inline-block;
}
body#home section#hero .section-body .container .copytext-container .copytext .copytext-data div:nth-child(3) {
  border-right: 0;
}
body#home section#hero .section-body .container .copytext-container .copytext .copytext-data span {
  width: 100%;
  color: var(--color-primary);
  font-size: 48px;
  display: block;
}
body#home section#hero .section-body .container .hero-image {
  background: url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 1024px;
  max-width: 712px;
  width: 50%;
  font-size: 16px;
  display: inline-block;
}
body#home section#hero .section-body .container .chat-float {
  position: fixed;
  right: 130px;
  bottom: 80px;
  z-index: 2;
}
body#home section#hero .section-body .container .chat-float #chat {
  background: var(--color-primary);
  width: 80px;
  height: 80px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
body#home section#hero .section-body .container .chat-float img {
  width: 46px;
  height: 46px;
}
body#home section#feature .section-body .container {
  font-size: 0;
}
body#home section#feature .section-body .container .feature {
  width: 50%;
  margin-top: 54px;
  display: inline-block;
  vertical-align: top;
}
body#home section#feature .section-body .container .feature h2 {
  font-size: 48px;
  margin-bottom: 25px;
}
body#home section#feature .section-body .container .feature p {
  font-size: 16px;
  margin-bottom: 25px;
}
body#home section#feature .section-body .container .feature ul {
  font-size: 16px;
  list-style: url("../img/checklist.svg");
  padding-left: 40px;
  margin-bottom: 25px;
}
body#home section#feature .section-body .container .feature ul li {
  margin-bottom: 25px;
}
body#home section#feature .section-body .container .side-image {
  background: url("../img/feature.jpg");
  max-width: 711px;
  width: 50%;
  height: 574px;
  display: inline-block;
  background-position: -274px -140px;
}
body#home section#favorite-product .section-body .product-container {
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body#home section#favorite-product .section-body .product-container .card {
  max-width: 400px;
  min-height: 400px;
  flex: 1;
}
body#home section#favorite-product .section-body .product-container .card .card-header img {
  height: 280px;
}
body#home section#favorite-product .section-body .product-container .card .card-body {
  max-width: 250px;
  height: 250px;
  padding: 1rem;
}
body#home section#favorite-product .section-body .product-container .card .card-body .action {
  width: 100%;
  display: flex;
  gap: 1rem;
}
body#home section#favorite-product .section-body .product-container .card .card-body .action a {
  color: black;
  text-align: center;
  text-decoration: none;
  flex: 2;
}
body#home section#favorite-product .section-body .product-container .card .card-body .action button.cart {
  flex: 1;
}
body#home section#testimoni .section-body .container {
  background: linear-gradient(168.18deg, #777C82 -114.74%, #0B0909 91.35%);
  padding: 76px 0;
  padding-left: 100px;
  display: flex;
}
body#home section#testimoni .section-body .container .testimoni-picture {
  width: 50%;
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}
body#home section#testimoni .section-body .container .testimoni-text {
  color: #FFFFFF;
  width: 50%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
body#home section#testimoni .section-body .container .testimoni-text span.tester {
  font-size: 48px;
  padding-left: 25px;
  border-left: 1px solid var(--color-primary);
}
body#home section#testimoni .section-body .container .testimoni-text span.tester-proffesion {
  color: var(--color-primary);
}
body#home section#testimoni .section-body .container .testimoni-text .rating {
  margin: 25px 0;
  display: flex;
  gap: 16px;
  display: flex;
  align-items: center;
}
body#home section#testimoni .section-body .container .testimoni-text button {
  background: #FFFFFF;
  width: 47px;
  height: 47px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
body#home section#testimoni .section-body .container .testimoni-text button.next {
  background: var(--color-primary);
  width: 47px;
  height: 47px;
  border: 0;
  border-radius: 50%;
}
body#home section#testimoni .section-body .container .testimoni-text .testimoni-indicator span {
  background: #FFFFFF;
  width: 8px;
  height: 8px;
  margin-top: 25px;
  border-radius: 50%;
  display: inline-block;
}
body#home section#testimoni .section-body .container .testimoni-text .testimoni-indicator span.active {
  background: var(--color-primary);
  width: 25px;
  border-radius: 6px;
}

/* product-hero */
/* product-promo */
body#product main section#promo .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
body#product main section#promo .section-header .carousel-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
body#product main section#promo .section-header .carousel-navigation .prev {
  width: 47px;
  height: 47px;
  background: var(--color-secondary);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
body#product main section#promo .section-header .carousel-navigation .next {
  width: 47px;
  height: 47px;
  background: var(--color-primary);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
body#product main section#promo .section-body .coupon-container {
  margin: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
}
body#product main section#promo .section-body .coupon-container .coupon-card {
  background: var(--color-coupon);
  aspect-ratio: 16/9;
  padding: 0.7rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 0 0 400px;
}
body#product main section#promo .section-body .coupon-container .coupon-card a {
  color: var(--color-white);
  text-decoration: none;
}
body#product main section#promo .section-body .coupon-container .coupon-card a:hover {
  color: var(--color-accent);
}
body#product main section#promo .section-body .coupon-container .coupon-card img {
  width: 96px;
}
body#product main section#promo .section-body .coupon-container .coupon-card.yellow {
  background: #F5C361;
}

/* product-our-product */
body#product main section#our-product .section-body .container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
body#product main section#our-product .section-body .container aside {
  background: var(--color-black);
  color: var(--color-white);
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 10px;
  flex: 1;
  position: sticky;
}
body#product main section#our-product .section-body .container aside form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body#product main section#our-product .section-body .container aside form input#search {
  width: 100%;
}
body#product main section#our-product .section-body .container aside form .baris:first-child {
  justify-content: space-between;
}
body#product main section#our-product .section-body .container aside form .label-header {
  align-self: self-start;
}
body#product main section#our-product .section-body .container aside form #category-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body#product main section#our-product .section-body .container aside form #category-filter .baris label {
  margin-left: 1rem;
}
body#product main section#our-product .section-body .container aside form #sort-by-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body#product main section#our-product .section-body .container aside form #sort-by-filter .baris label {
  margin-left: 1rem;
}
body#product main section#our-product .section-body .container aside form #range-price {
  position: relative;
}
body#product main section#our-product .section-body .container aside form #range-price input {
  accent-color: var(--color-primary);
}
body#product main section#our-product .section-body .container aside form #range-price #price-range-min {
  position: absolute;
}
body#product main section#our-product .section-body .container aside form button[type=reset] {
  background: transparent;
  color: var(--color-white);
  border: 0;
  cursor: pointer;
}
body#product main section#our-product .section-body .container aside form button[type=submit] {
  background: var(--color-primary);
  width: 100%;
  height: 48px;
  padding: 1rem;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}
body#product main section#our-product .section-body .container aside form input[type=text] {
  padding: 1rem;
  border: 0;
  border-radius: 10px;
}
body#product main section#our-product .section-body .container aside form input[type=checkbox] {
  accent-color: var(--color-primary);
  width: 25px;
  height: 25px;
  border-radius: 10px;
}
body#product main section#our-product .section-body .container .product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  flex: 2;
  gap: 1rem;
}
body#product main section#our-product .section-body .container .product-container .product-card {
  background: #f5f5f5;
  max-width: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  box-shadow: 0 -10px 2rem rgba(0, 0, 0, 0.1);
}
body#product main section#our-product .section-body .container .product-container .product-card .card-header {
  position: relative;
}
body#product main section#our-product .section-body .container .product-container .product-card .card-header img {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}
body#product main section#our-product .section-body .container .product-container .product-card .card-header .flash-sale-label {
  background: red;
  color: var(--color-white);
  width: 100px;
  height: 40px;
  padding: 10px;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 24px;
}
body#product main section#our-product .section-body .container .product-container .product-card .card-body {
  background: white;
  width: 80%;
  margin-top: -40px;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 -10px 2rem rgba(0, 0, 0, 0.1);
}
body#product main section#our-product .section-body .container .product-container .product-card .card-body .price-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
body#product main section#our-product .section-body .container .product-container .product-card .card-body .price-bar .price {
  color: var(--color-primary);
  font-size: 22px;
}
body#product main section#our-product .section-body .container .product-container .product-card .card-body .price-bar .slashed {
  color: red;
  font-size: 10px;
  text-decoration: line-through;
}
body#product main section#our-product .section-body .container .product-container .product-card .card-body .action {
  width: 100%;
  height: 35px;
}
body#product main section#our-product .section-body .container .product-container .product-card .card-body .action button {
  background: var(--color-primary);
  width: 177px;
  height: 35px;
  margin-right: 7px;
  border: 0;
  border-radius: 6px;
  vertical-align: middle;
}
body#product main section#our-product .section-body .container .product-container .product-card .card-body .action button.cart {
  background: transparent;
  width: 58px;
  height: 35px;
  border: 1px solid var(--color-primary);
  vertical-align: middle;
}

/* Product Detail */
body#product section#product-detail {
  padding: 90px 100px;
}
body#product section#product-detail .section-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
body#product section#product-detail .section-body .product-container {
  display: flex;
  gap: 1rem;
}
body#product section#product-detail .section-body .product-container .product-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "active-image active-image active-image" "active-image active-image active-image" "image2 image3 image4" "image2 image3 image4";
  gap: 1rem;
  flex: 1;
}
body#product section#product-detail .section-body .product-container .product-gallery .active-image {
  width: 100%;
  grid-area: active-image;
}
body#product section#product-detail .section-body .product-container .product-gallery .product-image-2 {
  grid-area: image2;
}
body#product section#product-detail .section-body .product-container .product-gallery .product-image-3 {
  grid-area: image3;
}
body#product section#product-detail .section-body .product-container .product-gallery .product-image-4 {
  grid-area: image4;
}
body#product section#product-detail .section-body .product-container .product-detail {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}
body#product section#product-detail .section-body .product-container .product-detail .flash-sale-label {
  background: red;
  color: var(--color-white);
  width: 100px;
  height: 40px;
  padding: 10px;
  border-radius: 24px;
}
body#product section#product-detail .section-body .product-container .product-detail .price-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
body#product section#product-detail .section-body .product-container .product-detail .price-bar .price {
  color: var(--color-primary);
  font-size: 22px;
}
body#product section#product-detail .section-body .product-container .product-detail .price-bar .slashed {
  color: red;
  font-size: 10px;
  text-decoration: line-through;
}
body#product section#product-detail .section-body .product-container .product-detail .recommendation {
  gap: 1rem;
}
body#product section#product-detail .section-body .product-container .product-detail .quantity {
  width: 100px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
body#product section#product-detail .section-body .product-container .product-detail .quantity input {
  width: 40px;
  height: 40px;
  text-align: center;
  flex: 1;
}
body#product section#product-detail .section-body .product-container .product-detail .quantity button {
  width: 40px;
  height: 40px;
  flex: 1;
  cursor: pointer;
}
body#product section#product-detail .section-body .product-container .product-detail .quantity button.increment {
  background: var(--color-primary);
  width: 40px;
  height: 40px;
  flex: 1;
  border: 0;
  vertical-align: middle;
}
body#product section#product-detail .section-body .product-container .product-detail .quantity button.decrement {
  background: transparent;
  width: 40px;
  height: 40px;
  flex: 1;
  border: 1px solid var(--color-primary);
  vertical-align: middle;
}
body#product section#product-detail .section-body .product-container .product-detail .choosesize {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
body#product section#product-detail .section-body .product-container .product-detail .choosesize div {
  padding: 1rem;
  flex: 1;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
body#product section#product-detail .section-body .product-container .product-detail .choosesize div:hover {
  border: 1px solid var(--color-primary);
}
body#product section#product-detail .section-body .product-container .product-detail .choosesize div.active {
  border: 1px solid var(--color-primary);
}
body#product section#product-detail .section-body .product-container .product-detail .hotice {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
body#product section#product-detail .section-body .product-container .product-detail .hotice div {
  padding: 1rem;
  flex: 1;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
body#product section#product-detail .section-body .product-container .product-detail .hotice div:hover {
  border: 1px solid var(--color-primary);
}
body#product section#product-detail .section-body .product-container .product-detail .hotice div.active {
  border: 1px solid var(--color-primary);
}
body#product section#product-detail .section-body .product-container .product-detail .action {
  width: 100%;
  height: 35px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
body#product section#product-detail .section-body .product-container .product-detail .action button {
  background: var(--color-primary);
  width: 177px;
  height: 35px;
  margin-right: 7px;
  border: 0;
  border-radius: 6px;
  vertical-align: middle;
  flex: 2;
  cursor: pointer;
}
body#product section#product-detail .section-body .product-container .product-detail .action button.cart {
  background: transparent;
  width: 58px;
  height: 35px;
  border: 1px solid var(--color-primary);
  vertical-align: middle;
  flex: 1;
}

/* Other Product */
body#product section#other-product {
  padding: 25px 100px;
}
body#product section#other-product .section-body {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
body#product section#other-product .section-body .product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body#product section#other-product .section-body .product-container .product-card {
  background: #f5f5f5;
  max-width: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  position: relative;
  overflow: hidden;
  box-shadow: 0 -10px 2rem rgba(0, 0, 0, 0.1);
}
body#product section#other-product .section-body .product-container .product-card .card-header {
  position: relative;
}
body#product section#other-product .section-body .product-container .product-card .card-header img {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}
body#product section#other-product .section-body .product-container .product-card .card-header .flash-sale-label {
  background: red;
  color: var(--color-white);
  width: 100px;
  height: 40px;
  padding: 10px;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 24px;
}
body#product section#other-product .section-body .product-container .product-card .card-body {
  background: white;
  width: 80%;
  margin-top: -40px;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 -10px 2rem rgba(0, 0, 0, 0.1);
}
body#product section#other-product .section-body .product-container .product-card .card-body .price-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
body#product section#other-product .section-body .product-container .product-card .card-body .price-bar .price {
  color: var(--color-primary);
  font-size: 22px;
}
body#product section#other-product .section-body .product-container .product-card .card-body .price-bar .slashed {
  color: red;
  font-size: 10px;
  text-decoration: line-through;
}
body#product section#other-product .section-body .product-container .product-card .card-body .action {
  width: 100%;
  height: 35px;
  display: flex;
  gap: 1rem;
}
body#product section#other-product .section-body .product-container .product-card .card-body .action button {
  background: var(--color-primary);
  border: 0;
  border-radius: 6px;
  vertical-align: middle;
  flex: 2;
}
body#product section#other-product .section-body .product-container .product-card .card-body .action button.cart {
  background: transparent;
  border: 1px solid var(--color-primary);
  vertical-align: middle;
  flex: 1;
}
body#product section#other-product .section-body .other-product-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body#product section#other-product .section-body .other-product-pagination a {
  background: var(--color-secondary);
  color: var(--color-black);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}
body#product section#other-product .section-body .other-product-pagination a:hover {
  background: var(--color-primary);
}
body#product section#other-product .section-body .other-product-pagination a.active {
  background: var(--color-primary);
}
body#product section#other-product .section-body .other-product-pagination a:last-child {
  background: var(--color-primary);
  color: var(--color-white);
}

/* Payment */
body#payment-page section#payment .section-header {
  align-items: start;
  margin: 70px 0;
}
body#payment-page section#payment .section-body .container {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "your-order total" "payment-form kosong";
  gap: 25px;
}
body#payment-page section#payment .section-body .container .your-order {
  grid-area: your-order;
}
body#payment-page section#payment .section-body .container .your-order .your-order-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
body#payment-page section#payment .section-body .container .your-order .order-container .card {
  padding: 12px;
  display: flex;
  gap: 16px;
  border-radius: 12px;
  position: relative;
  align-items: center;
}
body#payment-page section#payment .section-body .container .your-order .order-container .card-header {
  width: 160px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
body#payment-page section#payment .section-body .container .your-order .order-container .card-header img {
  width: 100%;
  height: 100%;
}
body#payment-page section#payment .section-body .container .your-order .order-container .card-body {
  gap: 6px;
}
body#payment-page section#payment .section-body .container .your-order .order-container .product-name {
  font-size: 18px;
  font-weight: 600;
}
body#payment-page section#payment .section-body .container .your-order .order-container .variant {
  font-size: 14px;
  color: var(--color-secondary);
}
body#payment-page section#payment .section-body .container .your-order .order-container button.delete {
  background: transparent;
  width: 36px;
  height: 36px;
  border: none;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
body#payment-page section#payment .section-body .container .your-order .order-container button.delete img {
  width: 100%;
  height: 100%;
}
body#payment-page section#payment .section-body .container .total {
  grid-area: total;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}
body#payment-page section#payment .section-body .container .total .baris {
  justify-content: space-between;
}
body#payment-page section#payment .section-body .container .total .payment-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body#payment-page section#payment .section-body .container .total .payment-info .payment-method {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
body#payment-page section#payment .section-body .container .payment-form {
  grid-area: payment-form;
}
body#payment-page section#payment .section-body .container .payment-form .delivery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
}
body#payment-page section#payment .section-body .container .payment-form .delivery .button.button-radio {
  flex: 1;
}

/* Footer */
footer {
  background: #F8F8F8;
}
footer .container {
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
footer .container .footer-item {
  flex: 1;
}
footer .container .footer-item ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}
footer .container .footer-item ul li a {
  text-decoration: none;
  color: var(--color-secondary);
}
footer .container .footer-item ul li a:hover {
  color: var(--color-black);
}
footer .container .footer-item ul li.copyright {
  color: var(--color-secondary);
}
footer .container .footer-item ul.social {
  justify-content: start;
}

/* Responsive */
@media (max-width: 768px) {
  nav .brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  nav.show {
    flex-direction: column;
  }
  nav ul {
    display: none;
    flex-direction: column;
  }
  nav .search {
    display: none;
  }
  nav .hamburger {
    display: block;
  }
  nav.show ul {
    display: flex;
  }
  .hero-minicopy {
    display: none;
  }
  section#product .section-body .product-container {
    flex-direction: column;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  nav {
    flex-direction: row;
  }
  nav ul {
    flex-direction: row;
    gap: 1rem;
  }
  section#product .section-body .product-container {
    flex-direction: column;
  }
}